* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}
.icon {
    color: #ff0000;
    background-color: #fff;
    width: 80px;
    height: 80px;
    font-size: 40px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    position: relative;
}
.icon::before {
    content: attr(data-icon);
    position: absolute;
    font-size: 23px;
    top: 0px;
    background-color: #fff;
    padding: 8px 15px;
    border-radius: 25px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: all 0.3s ease-out;
    
}
.icon::after {
    content: " ";
    position: absolute;
    border-style: solid;
    border-width: 10px;
    border-color: #fff transparent transparent transparent;
    top: 0px;
    opacity: 0;
    transition: all 0.3s ease-out;
}
.icon:hover::before {
    opacity: 1;
    top: -57px;
}
.icon:hover::after {
    opacity: 1;
    top: -14.5px;
}




